.navbar {
  height: 15vh;
  background: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
}


.nav-items {
  display: flex;
  list-style: none;
  text-align: center;
  align-items: center;
  justify-content: flex-end;
  
}

.nav-item {
  display: flex;
  align-items: center;
  height: 8vh;
}

.nav-item a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.3rem;
  padding: 6px 16px;
  border-radius: 4px;
}

.nav-item a:hover {
  background: rgb(0, 212, 212);
}
